@{
    ViewBag.Title = "Información";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Esta página web fue realizada por estudiantes de 4to. Ciclo de la carrera de Ingeniería en Ciencias y Sistemasl, en el curso de Introducción a la programación y computación 2</p>
